<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
	<th:block th:fragment="content">
				
		<form action="/board/modify" method="post">
			<!-- @ CONTAINER -->
     
       		<!-- @ CONTENTS -->
               
                <input type="hidden" name="page" th:value="${requestDTO.page}" />
                <input type="hidden" class="form-control" name="gno" th:value="${dto.gno}" />
                <table class="basic_write">
                    <caption>News 입력</caption>
                    <colgroup>
                        <col style="width:150px">
                    </colgroup>
					   <tr>
                        <th>제목<span class="star">*</span></th>
                        <td><input type="text" title="제목" name="title" id="" class="add_txt" th:value="${dto.title}"></td>
                    </tr>
                    <tr>
                        <th>작성자<span class="star">*</span></th>
                        <td><input type="text" title="성명" name="writer" id="" class="name_txt" th:value="${dto.writer}" ></td>
                    </tr>
                 
                    <tr>
                        <th>첨부파일</th>
                        <td>
                            <input type="file" title="첨부파일" name="" id="" placeholder="학과/부서" class="name_txt">
                        </td>
                    </tr>
                    <tr>
                        <th>내용 <span class="star">*</span></th>
                        <td>
                           <textarea name="content" id="" cols="30" rows="10" style="width:100%">[[${dto.content}]]</textarea>
                        </td>
                    </tr>
                    
                </table>               
                <div class="btn_area">
					<button type="button" class="btn_blue modifyBtn">수정</button>
					<button type="button" class="btn_blue_line listBtn">취소</button> 
                </div>
       
        <!-- CONTENTS @ -->
    
    	<!-- CONTAINER @ -->
			 			
			
			
		
		</form>
				
		<script th:inline="javascript">
			//form 객체 찾아오기
			var actionForm = $("form")
			
			//목록 버튼을 눌렀을 때
			$(".listBtn").click(function(){
				var page = $("input[name='page']");
				actionForm.empty();
				actionForm.append(page);
				actionForm.attr('action', '/board/list1').attr('method', 'get');
				actionForm.submit();
			});
			
			//수정 버튼을 눌렀을 때
			$(".modifyBtn").click(function(){
				if(!confirm('수정하시겠습니까?')){
					return;
				}
				
				actionForm.attr('action', '/board/modify').attr('method', 'post');
				actionForm.submit();
			});
		</script>
	</th:block>
</th:block>